body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 8px;
    padding: 0;
}

h1{
    text-align: center;
    padding:20px;
    background-color: lightgrey;
    color:whitesmoke;
}
.container {
    display: flex;
    flex-wrap: wrap;
justify-content: center;
}
.box-container {
    display: flex;
    flex-direction: column;
}

.box {
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
    transition: transform 0.2s;
    background-color: lightyellow;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.box:hover {
    transform: scale(1.05);
}

.box.box2 {
    width: 250px; 
    height: 150px; 
}
.box img {
    max-width: 100%;
    height: auto;
}

.box a {
    text-decoration: none;
}

p {
    margin: 0;
}
.box.box4 {
    width: 250px; 
    height: 400px; 
    background-color: lightyellow; 
    border: 1px solid #ccc; 
    text-align: center; 
}

.box.box4 img {
    max-width: 100%;
    height: auto;
}

.box.box4 p {
    margin: 0;
}

.box.box5 {
    width: 250px; 
    height: 80px; 
    background-color: lightyellow; 
    border: 1px solid #ccc; 
    text-align: center; 
    position: relative;
    top:60px;
    left: -900px;

}

.box.box6 {
    
   
    width: 200px; 
    height: 220px; 
    background-color: lightyellow; 
    border: 1px solid #ccc; 
    position: relative;

    top:-300px;
    left: -590px;
text-align: center; 

}
